.mainApp{
  width: 100vw;
  height: 100vh;
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header{
  width: 100vw;
  height: 4.3125rem;
  background-color: #10162F;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}

.logoFont{
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}